<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.pacs"
            connectionString="data source=localhost;initial catalog=&quot;C:\Program Files\ramsoft\DB\pacs.fdb&quot;;user id=SYSDBA;Password=$db@dM1n"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>